body {
  margin: 0;
  color: #e2e2e2;
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/* nav bar */
header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
header nav {
  position: fixed;
  z-index: 10;
  top: 1rem;
  width: 80%;
  max-width: 1000px;
  background-image: linear-gradient(20deg, #27262650, #27262650);
  backdrop-filter: blur(10px);
  padding: 0 20px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}
header nav ul li a {
  color: #e2e2e2;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color ease 0.3s;
}
header nav ul li a:hover {
  color: #ffd43b;
  cursor: pointer;
}
header nav ul li a:active {
  color: #ffbf00;
}
/* main */
main {
  color: black;
  padding: 1rem 2rem;
}
#header {
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
}
#header h1 {
  color: #272626;
  font-weight: 800;
  font-size: 3rem;
  margin: 0;
  padding: 0;
  line-height: 1;
}
#header p {
  color: #272626;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  line-height: 1;
}
#header img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(173, 65, 245, 0.5), 0 0 20px rgba(173, 65, 245, 0.5),
    0 0 30px rgba(173, 65, 245, 0.5), 0 0 40px rgba(173, 65, 245, 0.5),
    0 0 50px rgba(173, 65, 245, 0.5), 0 0 60px rgba(173, 65, 245, 0.5);
}
/* contact */
#contact {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact form {
  width: 80%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-image: linear-gradient(20deg, #27262650, #27262650);
  color: #e2e2e2;
  backdrop-filter: blur(10px);
  padding: 1rem;
  border-radius: 16px;
}
#contact form i {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
#contact form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#contact form div label {
  font-size: 1.2rem;
  font-weight: 500;
}
#contact form div input {
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  background: #e2e2e241;
  border: 1px solid #e2e2e2;
  color: #272626;
  font-size: 1rem;
}
#contact form div input:focus {
  outline: none;
}
#contact form div textarea {
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  background: #e2e2e241;
  color: #272626;
  border: 1px solid #e2e2e2;
  font-size: 1rem;
  resize: none;
}
#contact form div textarea:focus {
  outline: none;
}
#contact form div input:invalid:not(:placeholder-shown),
#contact form div textarea:invalid:not(:placeholder-shown),
#contact form div input:valid:not(:placeholder-shown),
#contact form div textarea:valid:not(:placeholder-shown) {
  background-repeat: no-repeat;
  background-position: right;
  background-size: 24px;
  background-origin: content-box;
}
#contact form div input:invalid:not(:placeholder-shown),
#contact form div textarea:invalid:not(:placeholder-shown) {
  border: 1px solid red;
  background-image: url("pic/checked_red.png");
}
#contact form div input:valid:not(:placeholder-shown),
#contact form div textarea:valid:not(:placeholder-shown) {
  border: 1px solid green;
  background-image: url("pic/checked_green.png");
}
#contact form button {
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  background: #2bff2b81;
  color: #e2e2e2;
  font-size: 1rem;
  cursor: pointer;
  transition: background ease 0.3s;
}
#contact form button:hover {
  background: #2bf82baa;
  color: #e2e2e2;
}
.not-allowed {
  cursor: not-allowed !important;
  background-color: #2bf82b41 !important;
  color: #e2e2e2 !important;
}
/* slider */
.slider {
  overflow: hidden;
  padding: 5px 0;
  width: 100%;
  height: var(--height);
  border: 1px solid #e2e2e2;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10% 90%,
    transparent
  );
}
.slider .list {
  display: flex;
  position: relative;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
}
.slider .list .item {
  width: var(--width);
  height: var(--height);
  filter: grayscale(1);
  position: absolute;
  display: flex;
  align-items: center;
  left: 100%;
  animation: autoRun 15s linear infinite;
  animation-delay: calc((15s / var(--quantity)) * var(--position));
  transition: filter ease 0.3s;
}

.slider .list .item img {
  width: 100%;
}
@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}
.slider:hover .item {
  animation-play-state: paused !important;
}
.slider .item:hover {
  filter: grayscale(0);
}
/* project */

.go-right {
  width: 120px;
  height: 432px;
  padding: 0 16px;
  border: 1px solid #e2e2e2;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.go-right div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #27262680;
  padding: 1rem;
}
.go-right div i::before {
  color: #e2e2e2;
  width: 46px;
  height: 46px;
}
.projects {
  margin: 2rem 0;
  display: flex;
  width: 100%;
  gap: 2rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  flex-wrap: nowrap;
  padding: 0 1rem;
  scroll-snap-align: start;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  -webkit-overflow-scrolling: auto;
}
#project h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}
.projects .container {
  position: relative;
  width: 300px;
  min-width: 300px;
  height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  border: 1px solid #e2e2e2;
  padding: 1rem;
  border-radius: 16px;
  transition: transform ease 0.3s;
}
.projects .container img {
  padding: 0.5rem 0;
  width: 100%;
  height: 200px;
  object-position: center;
  object-fit: cover;
  border-radius: 16px;
}
.projects .container .title {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}
.projects .container .description {
  color: #73767a;
  margin: 0.5rem 0;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: start;
}
.projects .container a {
  height: 2rem;
  text-decoration: none;
  color: #2b8eff;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}
.projects .container a i {
  margin-left: 0.5rem;
}
.projects .container a:hover {
  text-decoration: underline;
}
.projects .tools {
  position: absolute;
  display: flex;
  gap: 0.5rem;
  top: 0.5rem;
  left: 0.5rem;
}
.projects .tools div {
  z-index: 1;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  background-origin: content-box;
  background-color: #8d8d8d80;
  border-radius: 50%;
}
.projects .tools .react {
  background-image: url(pic/react.png);
}
.projects .tools .tailwind {
  background-image: url(pic/tailwind.png);
}
.projects .tools .next {
  background-image: url(pic/next.png);
}
.hidden {
  display: none !important;
}

@media screen and (max-width: 1000px) {
  main {
    padding: 1rem 0.5rem;
  }
  #header img {
    margin: 1.2rem 0;
    width: 200px;
    height: 200px;
  }
  #header h1 {
    font-size: 1.5rem;
    margin-top: 4rem;
    margin-bottom: 0.5rem;
  }
  h2 {
    font-size: 1.2rem !important;
    margin: 0.2rem 0;
  }
  #header h3 {
    font-size: 1rem;
  }
  #header p {
    font-size: 0.7rem !important;
    margin-bottom: 1rem;
  }
  .projects {
    margin-top: 3rem;
  }
  .go-right {
    display: none;
  }
  .projects .container {
    width: 200px;
    min-width: 200px;
    height: 300px;
  }
  .projects .container img {
    height: 150px;
  }
  .projects .container .title {
    font-size: 1rem;
  }
  .projects .container .description {
    font-size: 0.8rem;
  }
  .projects .container a {
    font-size: 1rem;
  }
}
